.uploader {
	background-color: #fff;
	margin-bottom: 10px;
}

.uploader__top {
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
.uploader__top > .MuiAvatar-root {
	height: 45px;
	width: 45px;
	cursor: pointer;
}
.uploader__top > .MuiAvatar-root:hover {
	filter: brightness(90%);
}

.uploader__top > .tweetInput {
	border: none;
	outline: none;
	padding: 15px;
	font-size: 19px;
	margin-top: 5px;
	flex: 1;
}
.uploader__top > .imageInput {
	border: none;
	outline: none;
	font-size: 10px;
	padding: 5px 12px;
	border-bottom: 1px solid var(--twitter-background);
}
.uploader__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2px;
}
.uploader__icons {
	margin-left: 40px;
	padding: 5px 10px;
	display: flex;
}

.uploader__icons > .MuiSvgIcon-root {
	color: #1da1f2;
	margin-left: 5px;
	cursor: pointer;
	padding: 7px;
}
.uploader__icons > .MuiSvgIcon-root:hover {
	background-color: #e8f5fe;
	border-radius: 33px;
}
.uploader__bottom > button {
	background-color: var(--twitter-color);
	color: white;
	border-radius: 33px;
	font-weight: 600;
	text-transform: inherit;
	padding: 5px 15px;
	font-size: 16px;
	margin-right: 15px;
}
.uploader__bottom > button:disabled {
	opacity: 0.6;
	color: white;
}
.uploader__bottom > button:hover {
	background-color: #1d91da;
}

/* // dummy phone view setting  */
@media screen and (max-width: 544px) {
	.uploader {
		width: 100%;
	}
	.uploader__icons {
		margin-left: 10px;
		padding: 5px;
	}
	.uploader__icons > .MuiSvgIcon-root {
		margin-left: 0px;
	}
	.uploader__bottom > button {
		margin-right: 25px;
	}
	.uploader__top > .tweetInput {
		font-size: 14px;
		padding-right: 0px;
		padding: 5px;
		flex: 0;
	}
	.uploader__top > .imageInput {
		font-size: 10px;
		padding: 5px 0;
		border-bottom: 1px solid var(--twitter-background);
		margin-right: 20px;
	}
	.uploader__top > .MuiAvatar-root {
		height: 35px;
		width: 35px;
	}
	.uploader__icons {
		margin-left: 20px;
	}
}
