* {
	padding: 0;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	--twitter-color: #1da1f2;
	--twitter-background: #e6ecf0;
	--test-color: red;
}

.app {
	display: flex;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	height: 100vh;
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.app {
		padding: 0;
	}
}
